<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post list</title>
</head>
<body>
    <!-- post list 출력 -->
    <h1>Post List</h1>
    <ul>
        {% for post in posts %}
            <li>{{ post.title }} - {{ post.created_at }}</li>
        {% empty %}
            <li>No posts available.</li>
        {% endfor %}
        {% if user.is_authenticated %}
        <!-- admin 그룹권한 확인 -->
            {% for group in user.groups.all %}
                {% if group.name == 'admin' %}
                    <li><a href="{% url 'admin_view' %}">Create New Post</a></li>
                {% endif %}
            {% endfor %}
        <li><a href="{% url 'user_view' %}">User Page</a></li>
        <li>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </li>
        {% else %}
        <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
        {% endif %}
    </ul>

</body>
</html>